/* Common styles for both mobile and desktop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Show the full video while maintaining aspect ratio */
    z-index: -1;
}

/* Coming Soon text styles */
.coming-soon {
    display: none; /* Hide the text on desktop by default */
    font-size: 24px;
    color: #fff;
    text-align: center;
    position: absolute; /* Position the text at the desired location */
    bottom: 35%; /* Move the text 15% higher from the bottom */
    left: 0;
    right: 0;
}

@media (max-width: 767px) {
    .coming-soon {
        display: block; /* Show the text on mobile devices */
    }
}
